table {
    width: 100%;
}
.title{
    font-weight: bold;
    font-size: 30px;
}

.mat-table{
    width: 80vw;
    max-width: 1500px;
}

.mat-column-name {
    width: 25%;
    padding-right: 20px;
}

.mat-column-description {
    width: 40%;
    padding-right: 20px;
}

.mat-column-link {
    text-align: center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0;
    text-align: center;
}
