
.container {
    width: 50vw;
    height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.panel {
    background-color: #eaf5ff;
    border-radius: 8px;
    padding: 16px 16px;

}

a {
    cursor: pointer;
}