<div class="container" fxLayout fxLayoutAlign="space-around center">
    <div class="panel" fxLayout="column" fxLayoutGap="5px">
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>
        <button mat-raised-button color="primary">ENTRAR</button>
        <a (click)="passwordRecovery()">Esqueci minha senha</a>
        <mat-divider></mat-divider>
        <button mat-stroked-button color="primary">REGISTRAR</button>

    </div>
</div>
