<form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
    <div class="container" fxLayout fxLayoutAlign="space-around center">
        <div class="panel" fxLayout="column" fxLayoutGap="15px">
            <span class="title">
                NEWT
            </span>
            <span class="sub-title">
                Cadastre sua nova senha
            </span>
            <mat-divider></mat-divider>
                <div fxLayout="column" fxLayoutGap="15px">
                    <mat-form-field appearance="outline">
                        <mat-label>Nova Senha</mat-label>
                        <input matInput formControlName="password" type="password">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Confirme a nova Senha</mat-label>
                        <input matInput formControlName="confirmPassword" type="password">
                    </mat-form-field>
                </div>
                <button mat-stroked-button type="submit" color="primary">REGISTRAR</button>
        </div>
    </div>
</form>
